<h1 class='login-title'>Login to ...</h1>
<div class='login-content'>
  <div class="'social-login'">
      <a class='login-entry google'  href="{{this.googleAuthUrl}}">
            <img src="assets/img/google-logo.png" alt="Google" />
            Log in with Google</a>
      <a class='login-entry facebook' href={{this.facebookAuthUrl}}>
          <img src="assets/img/fb-logo.png" alt="Facebook" /> Log in with Facebook</a>
      <a class='login-entry github'  href={{this.githubAuthUrl}}>
          <img src="assets/img/github-logo.png" alt="Github" /> Log in with Github</a>
  </div>
</div>

